{% extends "base.html" %}
{% block content %}

<h2>Chat with {{ otherUsername }}</h2>

<div id="messages">
    {% for msg in messages %}
        <div>
            <b>{{ msg.sender }}:</b> {{ msg.message }}
        </div>
    {% endfor %}
</div>

<input id="messageInput" type="text" placeholder="Type message..." />
<button type="submit">Send</button>

<script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>

<script src="{{ url_for('static', filename='js/chat.js') }}"></script>

<script>
    const ROOM_ID = "{{ current_user.id }}_{{ otherUsername }}";
</script>

{% endblock %} 